<% @playlists.each do |playlist| %>
  <section id = "playlist-<%=playlist.id%>">
    <%= playlist.name %>
    <% playlist.songs.each do |song| %>
      <section id = "song-<%=song.id%>">
        <h2> <%= song.title %></h2>
        <p>Length: <%= song.length %></p>
        <p>Play Count: <%= song.play_count %></p>
      </section>
    <% end %>
  </section>
<% end %>
